/*! responsive-nav.js v1.0.14 by @viljamis */

body
 {
	 font-family:"Open Sans";
 }
 
 
 
 .click-nav {
	
	width:200px;
}



.click-nav ul li {
	position:relative;
	list-style:none;
	cursor:pointer;
}
.click-nav ul li ul {
	position:absolute;
	left:0;
	right:0;
	
}
.click-nav ul .clicker {
	background: #2ebdeb;
	color:#FFF;
	text-align:center;
}
.click-nav ul .clicker:hover,
.click-nav ul .active {
	background:#00abbd;
}
.click-nav img {
	
	top:5px;
	right:10px;
}
.sm > img {
    margin: 7px auto auto;
	margin-left:50px;
}
.click-nav ul li a {
	transition:background-color 0.2s ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out;
	-moz-transition:background-color 0.2s ease-in-out;
	display:block;
	padding:8px 10px 8px 40px;
	background:#9fd6f3;
	color:#333;
	text-decoration:none;
	text-align:left;
	
}
.click-nav ul li a:hover {
	background:#00abbd;
}
/* Fallbacks */
.click-nav .no-js ul {
	display:none;
}
.click-nav .no-js:hover ul {
	display:block;
}

.wh
{
	top:50px;
	text-align:left;
}
.dropdown-menu {
position: absolute;
top: 100%;
left:auto;
right: 0 !important;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
background-color: #ffffff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}
 .navbar .nav > li > .dropdown-menu:before {
position: absolute;
top: -7px;
right: 13px;
left:134px;
display: inline-block;
border-right: 5px solid transparent;
border-bottom: 7px solid #ccc;
border-left: 9px solid transparent;
border-bottom-color: rgba(0, 0, 0, 0.2);
content: '';
}
 .navbar .nav > li > .dropdown-menu:after {
position: absolute;
top: -6px;
left: 135px;
display: inline-block;
border-right: 6px solid transparent;
border-bottom: 6px solid #ffffff;
border-left: 6px solid transparent;
content: '';
}
.navbar .nav {
position: relative;
right: 0;
display: block;
float: right;
margin: 0 10px 0 0;
}

#mobile-header{
  background: #fff;
  min-height: 50px;
  
  
}

#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

#nav li {
  width: 100%;
  display: block;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: fixed;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
}




/* ------------------------------------------
  DEMO PAGE'S STYLES
--------------------------------------------- */
/*body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0; 
}*/

/*a:active,
a:hover {
  outline: 0;
}*/

/*@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}
*/
#nav,
#nav * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#nav,
#nav ul {
  list-style: none;
  width: 100%;
  float: left;
}

#nav li {
  float: left;
  width: 100%;
}


#nav a {
  
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 15px;
  float: left;
font-family:"Open Sans";

    transition: all 0.2s ease-in-out 0s;
	
	}

#nav a:hover {
  color: #fff;
  text-decoration: none;
  width: 100%;
  
}




#nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: #1ab7ea url(../images/menu.jpg) no-repeat center center;
}


@media (min-width: 727px) and (max-width: 980px){
	.logo {
    margin-left: 0px;
    margin-top: 10px;
}
}

/*Additional Media Queries to position the header*/
@media (min-width: 727px) and (max-width: 960px){
  #mobile-header{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;
    padding-bottom: 2px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }

}

